In [1]:
import pandas as pd
import yfinance as yf

In [2]:
spg = yf.Ticker("SPG")

data = spg.history(period='5y')

data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-02-08 00:00:00-05:00,117.751511,119.642976,116.035461,116.065964,2940100,0.00,0.0
2018-02-09 00:00:00-05:00,116.607467,120.863271,115.371915,119.894653,3211700,0.00,0.0
2018-02-12 00:00:00-05:00,119.993816,120.382783,116.203252,119.589592,2338500,0.00,0.0
2018-02-13 00:00:00-05:00,119.365646,120.554985,118.547017,120.083885,1481900,1.95,0.0
2018-02-14 00:00:00-05:00,119.442860,119.728605,116.855673,119.002647,2092500,0.00,0.0
...,...,...,...,...,...,...,...
2023-02-02 00:00:00-05:00,130.000000,133.080002,129.509995,131.789993,2066900,0.00,0.0
2023-02-03 00:00:00-05:00,130.009995,130.289993,128.199997,129.809998,1390400,0.00,0.0
2023-02-06 00:00:00-05:00,128.440002,129.550003,127.779999,128.639999,1379600,0.00,0.0
2023-02-07 00:00:00-05:00,127.849998,127.849998,123.209999,125.900002,2443100,0.00,0.0
2023-02-08 00:00:00-05:00,125.099998,125.605003,123.339996,124.139999,1179261,0.00,0.0

In [3]:
df= data.iloc[:,3]

df

Date
2018-02-08 00:00:00-05:00    116.065964
2018-02-09 00:00:00-05:00    119.894653
2018-02-12 00:00:00-05:00    119.589592
2018-02-13 00:00:00-05:00    120.083885
2018-02-14 00:00:00-05:00    119.002647
                                ...
2023-02-02 00:00:00-05:00    131.789993
2023-02-03 00:00:00-05:00    129.809998
2023-02-06 00:00:00-05:00    128.639999
2023-02-07 00:00:00-05:00    125.900002
2023-02-08 00:00:00-05:00    124.139999
Name: Close, Length: 1259, dtype: float64

In [5]:
df.to_csv('SPG.csv')
df.to_json('SPG.json')